
    <div class="row">
        <div class="col-6">
            <h1>Lebenslauf</h1>
        </div>
        <div class="col-6">
            <img class="img-responsive pull-right" src="/assets/images/Foto_TAlpers.jpg" alt="Foto">
        </div>
    </div>

    <div class="timeline-heading">
        <span class="pr-3">
            <i class="fa fa-suitcase bg-darkblue"></i>
        </span>
        <h3>Berufliche Tätigkeiten</h3>
    </div>

    <div class="timeline timeline-work font-trebuchet">
        <div class="entry">
            <div class="title">
                <h3>ab 03/2019</h3>
                <p><strong>Softwareentwickler</strong></p>
                <p>KPMG IT Solutions GmbH</p>
            </div>
            <div class="body">
                <p class="font-weight-bold">Festanstellung als Senior Softwareentwickler</p>
                <ul>
                    <li>Arbeit an einem Microservices basierten Ticketmanagementsystem mit .Net Core, Angular, SQL, AMQP
                        RabbitMQ, NServiceBus und CQRS MediatR. Teilweise VB.NET,
                        WebForms und WinForms</li>
                </ul>
            </div>
        </div>
        <div class="entry">
            <div class="title">
                <h3>12/2017 – 01/2019</h3>
                <p><strong>Softwarearchitekt</strong></p>
                <p>Dataport AöR in Hamburg</p>
            </div>
            <div class="body">
                <p class="font-weight-bold">Festanstellung als Softwarearchitekt</p>
                <ul>
                    <li>ca. 1 Jahr Mitarbeit an Architektur Jour Fixes zur Lösung technischer
                        Herausforderungen</li>
                    <li>ca. 1 Monat Arbeit als Scrum Master mit TFS</li>
                    <li>ca. 1 Jahr Software Entwicklung an Onlinediensten zur Digitalisierung von
                        Dienstleistungen der Behörden mit ASP .NET MVC 5, HTML5, Javascript und
                        Bootstrap</li>
                </ul>
            </div>
        </div>

        <div class="entry">
            <div class="title">
                <h3>01/2011 – 08/2017</h3>
                <p><strong>Softwareentwickler</strong></p>
                <p>Crane Payment Innovations GmbH in Buxtehude</p>
            </div>
            <div class="body">
                <p class="font-weight-bold">Festanstellung als Softwareentwickler</p>
                <ul>
                    <li>ca. 1 Jahr Web-Applikation: Zeiterfassungssystem. Play Framework, Java,
                        Scala,
                        HTML5, CSS3 und Bootstrap</li>
                    <li>ca. 5 Jahre Applikationsentwicklung: Entwicklung und Optimierung von
                        statistischen Parametern zur Kompensation von Sensormesswerten. C# mit WPF,
                        C++
                        mit QT, Python und Octave</li>
                    <li>ca. 3 Jahre Applikationsentwicklung: Entwicklung von Software für Dauertests
                        von
                        Münzprüfern und Hoppern, C++ mit QT</li>
                    <li>ca. 1 Jahr Embedded Software auf Mikrocontrollern: I2C Kommunikation und SPI
                        zu
                        USB Konverter</li>
                </ul>
            </div>
        </div>

        <div class="entry">
            <div class="title">
                <h3>04/2010 - 08/2010</h3>
                <p><strong>Praktikum</strong></p>
                <p>Dräger Siemens Medical GmbH in Lübeck</p>
            </div>
            <div class="body">
                <p class="font-weight-bold">Praktikum im Bereich R&D Softwareentwicklung</p>
                <ul>
                    <li>XML Transformationen mit XSLT</li>
                    <li>Entwicklung automatisierter Testabläufe in C++ und NI Teststand</li>
                    <li>Erstellung von DLLs zur Ansteuerung von Aktoren und Sensoren in C++</li>
                </ul>
            </div>
        </div>

        <div class="entry">
            <div class="title">
                <h3>03/2008 - 03/2010 </h3>
                <p><strong>Studentische Hilfskraft</strong></p>
                <p>Hochschule für Angewandte Wissenschaften Hamburg</p>
            </div>
            <div class="body">
                <p class="font-weight-bold">Betreuung und Aufsicht bei Laborversuchen</p>
            </div>
        </div>

    </div>

    <div class="timeline-heading pt-5">
        <span class="pr-3">
            <i class="fa fa-graduation-cap bg-darkblue"></i>
        </span>
        <h3>Schule und Ausbildung</h3>
    </div>
    <div class="timeline timeline-education font-trebuchet">
        <div class="entry">
            <div class="title">
                <h3>09/2006 – 08/2010</h3>
                <p><strong>Bachelorstudium</strong></p>
                <p>Hochschule für Angewandte Wissenschaften Hamburg</p>
            </div>
            <div class="body">
                <p class="font-weight-bold">Technische Informatik</p>
                <ul>
                    <li>Favorisierte Module: Algorithmen und Datenstrukturen, Rechnernetze,
                        Verteilte
                        Systeme und Software Engineering</li>
                    <li>Wahlpflichtmodule: Hardware Software Codesign und Robot Vision</li>
                    <li>Abschlussarbeit: <a
                            href="http://edoc.sub.uni-hamburg.de/haw/volltexte/2010/1081/pdf/alpers_abschlussarbeit.pdf">Modellierung
                            eines Einparkassistenten für ein autonomes Fahrzeug implementiert auf
                            einer
                            SoC-Plattform</a></li>
                    <li>Studienabschluss: Bachelor of Computer Science (Gesamtnote 1,4)</li>
                </ul>
            </div>
        </div>

        <div class="entry">
            <div class="title">
                <h3>08/2005 - 07/2006</h3>
                <p><strong>Fachhochschulreife</strong></p>
                <p>BBS Winsen / Luhe</p>
            </div>
            <div class="body">
                <p class="font-weight-bold">Fachoberschule Elektrotechnik</p>
                <ul>
                    <li>Abschluss mit der Fachhochschulreife (Note 2,8)</li>
                    <li>Wahlpflichtkurs Informatik</li>
                </ul>
            </div>
        </div>

        <div class="entry">
            <div class="title">
                <h3>08/2003 - 07/2005</h3>
                <p><strong>Ausbildung</strong></p>
                <p>Berufsfachschule für Technisches Zeichnen G17 in Hamburg</p>
            </div>
            <div class="body">
                <p class="font-weight-bold">Ausbildung zum Technischen Zeichner</p>
                <ul>
                    <li>Berufsabschluss Technischer Zeichner Elektrotechnik, Maschinenbautechnik und
                        Bautechnik (Note 2,3)</li>
                </ul>
            </div>
        </div>
    </div>
